langchain_chroma
langchain-chroma
langchain_huggingface
langchain-huggingface
huggingface_hub
chromadb
torch
pypdf
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
langchain_groq
pysqlite3-binary
faiss-gpu
faiss-cpu
