langchain_chroma
langchain-chroma
langchain_huggingface
langchain-huggingface
python==3.10.0
chromadb
torch
pypdf
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
langchain_groq
